.Posts{
    border: 1px solid #cccccc;
    background-color: white;
    display: flex;
    flex-direction: column;
    
    
    background-color: white;
}
header {
    padding: 1.2rem 1.7rem 1rem;
    display: flex;
    color: white;
    background-color: black;
  }
section{
    margin: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Post{
    margin: 2rem 0;
}
.logoutbtn{
    margin-right: 0.3rem;
    color: white;
}